.bara{
    height:300px;
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: column;
}
.pageName{
    font-size:40px;
    color:white;
    margin-left:2.3%;/*check  this*/
    margin-top:50px;
}
#lineFont{
    font-size:15px;
    margin-top:0px;
}

#displayArea{
    height:max-content;
    border-radius:10px;
    margin-top:-100px;
    background-color: white;
}

/* css for tag heading */
#tagHeading{
    font-size:30px;
}
/* css for taggedpost section */
/* remove the box shadow if not looking good(added by vipul) */
#tagRow{
    padding-bottom:25px;
}

/* testing designs */

#TagCol{
    display: flex;
    overflow-x:auto;
}
.box{
    height:150px;
    min-width:200px;
    margin-right:20px;
    border-radius:8px;
    background-color:#D8DDFE;
}


/* testing ends here */
/* this is the css for the tag post box */
/* css for image post section */
.imgPost{
    height:max-content;/* do max content */
    border-radius:10px;
    
}
/* css for stock price section */
.stockPrice{
    height:500px;/* do max content */
    border-radius:10px;
    background-color:  #F9F0C1;
}


.headings{
    font-size:17px;
}
/* dont know where this is used */
.a{
    height:30px;
}
/*dont know why this is happening */
#search{
    background-color: white;
    border:none;
}
#searchBar{
    border:none;
}
/* ends here */

/* ******************************************** post css starts from here******************************** */

.postContainer{
    border-top:Solid 1px rgb(220, 220, 220);
    border-bottom:Solid 1px rgb(220, 220, 220);
    box-sizing: border-box;
    width:100%;
    margin:20px 0px;
    padding: 20px 20px;
}

.DP{
    height:50px;
    width:50px;
    border-radius: 25px;
    
}
.bookmarkBtnBox{
    height:50px;
}

.postBoxHeight{
    height:400px;
}
.post{
    border-radius:5px;
    border: solid 0.5px rgb(221, 221, 221);
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    height: fit-content;
    max-height: 800px;
}
.postButtonsBox{
    flex-direction: column;
}

.postButtons{
    height:50px;
    margin-right:-32%!important;
    width:100%;
}
.postBoxHeightCaption{
    height:60px;
}
.postButtonsCaption{
    height:30px;
    width:100%;
}
.pqr{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width:200px;
    justify-content: space-between;
}
.material-icons.likeBtn{
    color:#3fc1c9;
}
.material-icons.commentBtn{
    color:#fce38a;
}
.material-icons.shareBtn{
    color:#fc5185;
}
.material-icons.tagBtn{
    color:purple;
}
.material-icons.bookmark{
    color:rgb(0, 200, 0);
}


/* text shadows */

.textShadowBlue:hover{
    text-shadow: 0px 0px 4px #23f3fd;
}
.textShadowYellow:hover{
    text-shadow: 0px 0px 4px #ffd129;
}
.textShadowRed:hover{
    text-shadow: 0px 0px 4px #ff1f62;
}
.textShadowPurple:hover{
    text-shadow: 0px 0px 4px rgb(255, 63, 255);
}
.textShadowGray:hover{
    text-shadow: 0px 0px 4px rgb(128, 128, 128);
}

.caption{
    font-size:15px;
}
.material-icons.md-lights { color:grey;}
.material-icons.md-light { color:white;}

.postContentBox{
    width: 100%;
    height: 100%;
}

/* post create modal csss */

.modalWrapper{
    width:100%;
    height:100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color:/*#83cee1;*/ rgb(0,0,0,0.5);
}

.closeButton{
    position: absolute;
    top:0;
    left: 0;
    z-index: 10000 ;
    padding: 10px;
}
#postImgVidInput{
    display: none;
}

/* ************************************************************************************** */

#createPostForm{
    margin-top:15px; 
    position: relative;
    
}
.wrapper{
    width:650px;
    max-height:90%;
    height: fit-content;
    margin:10px auto;
    
}

#createPostHeading{
    color:#6990f2;
}
#imgPreview{
    display:flex;
    overflow-x:auto;
    align-items: center;
    height:250px;
}

.imgBox{
    width: 100%;
    height:200px;
    min-width:100%;
    margin-right:20px;
    position: relative;
}
.p{
    margin-top:15px;
}
.addImg{
    flex-direction: column;
}
.caption{
    height:fit-content;
    border-radius: 5px;
    background: #e9f0ff;
    border:none;
    padding:3px;
    resize:none;
    overflow-y:scroll;
}
.caption:focus{
    outline:none;/* to remove border around input box when the inout box is chosen*/
}
.formatBtn{
    display:flex;
    align-items: center;
    justify-content: end;
}
/* add in main */
.font30{
    font-size:30px;
}
.font15{
    font-size:15px;
}
.color{
    color:#6990f2;
}
.borderdashed{
    border:2px dashed #6990f2;
}
.border10{
    border-radius: 10px;
}
.border5{
    border-radius: 5px;
}
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-44 { font-size: 44px; }
.material-icons.md-blue {color:#6990f2;}
.material-icons.md-red {color:#6b0000;}
.material-icons.md-25 {font-size:50px;}
.material-icons.md-30 {font-size:30px;}
.material-icons.md-17 {font-size:17px;}
.material-icons.md-17 {font-size:13px;}
/*  */

/* comment box css */
.commentContainer
{
    width:96%;
    margin:0px auto;
}
.CommentArea{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.usernamelikeBox{
    justify-content: space-between;
    margin-bottom:10px;
}
.comment{
    margin-top:20px;
    margin-bottom: 20px;
}
.DPcomment{
    height:70px;
    width:70px;
    border-radius: 35px;;
}
@media only screen and (max-width:640px){
    .DPcomment{
        height:100%;
        width:100%;
        border-radius: 50%;
    }
}
.commentRow{
    background-color: rgb(255, 255, 255);
}
.borderThinDark{
    border:solid 2px #caf0f8;
    overflow:hidden;
    box-sizing:border-box;
}
.inputComment{
    width:100%;
    height:fit-content;
    border-radius: 5px;
    border:none;
    padding:3px;
    resize:none;
    overflow-y:scroll;
}
.inputComment:focus{
    outline:none;/* to remove border around input box when the inout box is chosen*/
}
/* ends here */