
/* ------- This is the login page css ------- */

#mainframe{
    background-image: linear-gradient(90deg, rgb(240, 240, 240) 50%, #caf0f8 0%);
    /*do calculation if need to be changed here width of col-6 is 46% relative to container
     and container is 80% . rest 8% is margin*/
}
/* ------- login form row -------- */
#loginRow{
    margin-top:50px;
}
/* because of this margin there is a scroll bar idk y .. this needs to be sorted*/
/*------- picture left ------- */
#picture{
    height:440px;
    border-right:none;
    border-radius:20px 0px 0px 20px;
    margin-right:0px;
    margin-left:4%;
}
/*-------- form right -------- */
#form{
    height:440px;
    border-radius:0 20px 20px 0px;
    margin-left:0px;
    margin-right:4%;
}
/* if we change height of the above two feilds to % then change margin in 1 to percentage too */
/*----- top 3 bars ------- */
.bar{
    width:100%;
    height:30px;
    margin:0px;
   /*border:solid 1px black;*/
    box-sizing:border-box;
}
#loginBar{
    background-color:#3fc1c9;
}
#signUpbar{
    background-color:#fce38a;
}
#forPassbar{
    background-color:#fc5185;
}

/*------ title and slogan ---- */
#textArea{
    width:100%;
    margin:0px;
    /*border:solid 1px black;*/
    text-align:center;
}
#title{
    margin-bottom:0px;
    /*border:solid 1px black;*/
    font-size:20px;
    font-weight:bold;
    display:inline-block;
}
.logoLisufp{
    /*border:solid 1px black;*/
    margin-bottom:0px;
    position:relative;
    top:5px;
}
#slogan{
    margin-top:0px;
    /*border:solid 1px black;*/
}

/*---- usre login info form ------ */
/*-------------- 1 ----------- */
#formLogIn{
   margin-top:30px;/* if we define the height of the whole picture and form box in percentage change this to percentage*/
}

/*---------*****remove this css when using php******-----------*/
/* remove if not user (comment created by vipul) */

/* ------------- remove css ends here **** --------*/
/* input type and submit button css is done in main.css */ 


/* check the inline block problem here */

/* ------ the buttons below ------ */



/* ------- This is the sign up page css -------- */

/* here most of the classes and ids are as above only some have changed */
/* this is the picture and form area css for sign up*/
/* we have made a new class and increased height , this is a slower method. we need to find a new 
better method*/

/* height is increased by vipul in below 2 classes */

/*------- picture left ------- */
#picturesu{
    height:520px;
    border-right:none;
    border-radius:20px 0px 0px 20px;
    margin-right:0px;
    margin-left:4%;
}
/*-------- form right -------- */
#formsu{
    height:520px;
    border-radius:0 20px 20px 0px;
    margin-left:0px;
    margin-right:4%;
}
/* this is done to chnage size of row in in the sign p page because it needs more space*/
/* might change this because there is chance of breakage by this */
#formSignUp{
    margin-top:30px;

}


/* --------------- This is the forgot Password page css ---------- */

#formForPass{
    margin-top:30px;
}

/* error class created by (vipul) for styling the error(used in login page) */
.errorStyle{
    text-align: center;
    color: red;
}

/* password visibility */

#wrapper{
    position: relative;
    display: flex;
    align-items: center;
}

#visibilityLogin{
    position: absolute;
    right: 13%;
    color: #9d9d9d;
    z-index: 1000;
    border: none;
    cursor: pointer;
}
